@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  --color-primary: oklch(58.54% 0.20406 277.12);
  --color-primary-50: oklch(94.157% 0.02403 253.95);
  --color-primary-100: oklch(91.128% 0.03711 258.37);
  --color-primary-200: oklch(84.266% 0.06821 266.53);
  --color-primary-300: oklch(76.372% 0.10584 272.35);
  --color-primary-400: oklch(67.645% 0.15325 276.13);
  --color-primary-500: oklch(58.54% 0.20406 277.12);
  --color-primary-600: oklch(52.302% 0.23889 277.4);
  --color-primary-700: oklch(48.155% 0.2626 277.29);
  --color-primary-800: oklch(45.502% 0.26684 278.82);
  --color-primary-900: oklch(42.949% 0.2384 285.91);
  --color-primary-950: oklch(41.587% 0.22488 289.48);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-jakarta: var(--font-jakarta);
}

@theme inline {
  --color-primary: oklch(58.54% 0.20406 277.12);
  --color-primary-50: oklch(94.157% 0.02403 253.95);
  --color-primary-100: oklch(91.128% 0.03711 258.37);
  --color-primary-200: oklch(84.266% 0.06821 266.53);
  --color-primary-300: oklch(76.372% 0.10584 272.35);
  --color-primary-400: oklch(67.645% 0.15325 276.13);
  --color-primary-500: oklch(58.54% 0.20406 277.12);
  --color-primary-600: oklch(52.302% 0.23889 277.4);
  --color-primary-700: oklch(48.155% 0.2626 277.29);
  --color-primary-800: oklch(45.502% 0.26684 278.82);
  --color-primary-900: oklch(42.949% 0.2384 285.91);
  --color-primary-950: oklch(41.587% 0.22488 289.48);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-jakarta: var(--font-jakarta);
}

:root {
  --background: #F9FAFB;
  --foreground: #171717;
  --font-poppins: "Poppins", sans-serif;

  /*font-synthesis: none;*/
  /*text-rendering: optimizeLegibility;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
  /*font-weight: 500;*/
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@utility input {
  @apply focus-visible:ring-0 focus-visible:border-0 focus:border-0 rounded-lg;
}

@utility btn {
  @apply font-medium text-[13px] rounded-lg;
}
